<div class="logo">
  <img src="assets/img/imgFromSite/logo.png" alt="Logo Pizzaria">
</div>

<div class="header">
  <h3 class="titulo">Bem-Vindo à COMTH!</h3>
  <p class="subtitulo">Faça seu pedido online de forma rápida e fácil.</p>
</div>

<div class="explicacao">
  <h3 class="titulo">Sobre a Pizza!</h3>
  <p>Trabalhamos com a massa de longa fermentação (24hrs a 48hrs), sendo de tamanho único (30cm) e de 6 fatias, recomendado até 2 pessoas, e trabalhamos com delivery e retirada.</p>
</div>

<div class="body">
  <a class="cardapio" (click)="onClickNavigateByCardapio()">
    <div class="imagem-cardapio">
      <img src="assets/img/imgFromSite/maoPizza.png">
    </div>
    <div class="texto-cardapio">
      <p>Cardápio</p>
    </div>
  </a>
  <a class="pedidos" href="https://delivery.yooga.app/comth-pizza" target="_blank">
    <div class="texto-pedidos">
      <p>Fazer Pedido</p>
    </div>
  </a>
  <a class="ifood" href="https://www.ifood.com.br/delivery/vila-velha-es/comth-pizza-santa-ines/533a6d42-d17f-42e4-947f-b8b40e4f2277" target="_blank">
    <div class="imagem-cardapio">
      <img src="assets/img/imgFromSite/homemPizza.png">
    </div>
    <div class="texto-ifood">
      <p>Ir no Ifood</p>
    </div>
  </a>
  <a class="whatsapp" href="https://wa.me/27992579311?text=Olá%20gostaria%20de%20fazer%20um%20pedido%20pelo%20WhatsApp!" target="_blank">
    <div class="texto-whatsapp">
      <p>Fale Conosco</p>
    </div>
  </a>
</div>

<div class="footer">
  <div class="sobre-nos">
      <h4>Sobre Nós</h4>
      <p>A pizzaria ComTH teve início em 2022, pelo o sócio Matheus Souza com a ideia de pizza pre assada. A empresa apresentou um crescimento considerável e devido a pedidos de muitos clientes, a pizzaria passou a ser apenas um delivery.</p>

      <p>Em 2024, Matheus Souza convidou Arielle Partelli para se juntar a sociedade, e assim foi aberta a primeira loja física para delivery e retirada, ambos formados e pós graduados em gastronomia.</p>

      <p>O intuito da ComTH é trazer qualidade e tradição para os capixabas, que anseiam cada vez mais por novidades, por esse motivo os sócios passaram um tempo em São Paulo e na Itália, buscando conhecimento e aprimoramento na arte de fazer pizza.</p>
  </div>

  <div class="contatos">
      <h4>Contatos</h4>
      <p>Email: <a href="mailto:comthempresa&#64;gmail.com">comthempresa&#64;gmail.com</a></p>
  </div>

  <div class="localizacao">
      <h4>Localização</h4>
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3740.0667192250667!2d-40.31380052493747!3d-20.380138781111818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb83e20e0853225%3A0x507eab19b60f37e0!2sEd.%20Ilha%20dos%20Atl%C3%A2nticos%20Residence%20-%20Av.%20Ant%C3%B4nio%20Almeida%20Filho%2C%20773%20-%20Praia%20de%20Itaparica%2C%20Vila%20Velha%20-%20ES%2C%2029102-265!5e0!3m2!1spt-BR!2sbr!4v1736727401288!5m2!1spt-BR!2sbr" 
        width="600" 
        height="450" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
  </div>
</div>
